:root {
  --white: #fff;
  --grey: #ccc;
  --lightgrey: #f3f3f3;
  --black: #000;
  --lightpink: #FEE9EE;
  --orangepink: #F7C9C8;
  --darkpink: #CC848A;
  --redpink: #FF5959;
  --pink1: #FF707C;
  --pink2: #D1666F;
  --neutral-gray-900: rgba(15, 23, 42, 1);
  --neutralgray-0: rgba(255, 255, 255, 1);
  /* --pink-1: rgba(254, 233, 238, 1);
  --pink-2: rgba(247, 235, 242, 1);
  --pink-blue: rgba(254, 233, 238, 1);
  --pink-red: rgba(254, 195, 187, 1);
  --pink-1: rgba(254, 233, 238, 1);
  --pink-2: rgba(247, 235, 242, 1);
  --pink-blue: rgba(254, 233, 238, 1);
  --pink-red: rgba(254, 195, 187, 1); */
}

* {
  font-family: 'Poppins', sans-serif;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* biar responsif*/
/* Menyesuaikan header untuk layar kecil */
@media only screen and (max-width: 600px) {
  header {
    padding: 10px;
  }

  .App-logo {
    height: 30vmin;
  }
}

/* Menyesuaikan margin-top pada slider dan lebar gambar slider untuk layar kecil */
@media only screen and (max-width: 600px) {
  .slider-container {
    margin-top: 20px;
  }

  .slider-image {
    width: 100%;
  }
}

/* Menyesuaikan lebar dan tinggi item kategori untuk layar kecil */
@media only screen and (max-width: 600px) {
  .categories {
    flex-wrap: wrap;
  }

  .category-item {
    width: 70px;
    height: 40px;
    font-size: 12px;
  }
}

/* Menyesuaikan lebar input pencarian dan ukuran font untuk layar kecil */
@media only screen and (max-width: 600px) {
  input[type="text"] {
    flex: 1;
    margin-left: 5px;
    font-size: 14px;
  }
}

header {
  border-bottom: 1px solid #ccc;
  position: sticky; 
  top: 0; left: 0; right: 0; 
  padding: 35px;  
  background: #ffff; 
  display: flex; 
  align-items: center;
  justify-content: space-between;
  height: 50px;
  /* width: 100%; */
  z-index: 1;
  box-shadow: 0px 4px 20px var(--lightgrey);
}

footer {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  margin: 0;
}

hr {
  border: 1px solid rgba(0, 0, 0, 0.3);
}

button {
  padding: 15px; 
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 10px; /* Menambahkan border-radius untuk membuatnya bulat */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

button:hover {
  box-shadow: var(--lightgrey);
}

a {
  padding: 5px;
  text-decoration: none;
  font-weight: bold;
  color: var(--black);
}

a:hover {
  /* text-shadow: 0px 4px 8px rgba(204, 132, 138, 0.5); */
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(204, 132, 138, 0.5);
}

button a:hover {
  background-color: transparent;
}

input {
  width: 100%;
  box-sizing: border-box;
  border: 1.5px solid var(--orangepink);
  padding: 10px 16px;
  border-radius: 100px;
}

input:focus {
  outline: none;
  cursor: var(--redpink);
  border-color: var(--redpink);
}

footer {
  background-color: var(--orangepink);
  padding: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

/* tergantung garis yg sebelom copyright mau dipake apa ga */
/* footer hr {
  width: 100%;
} */

footer p {
  color: rgba(0, 0, 0, 0.75);
}

.input-check {
  width: auto;
  transform: scale(1.5);
}

.icon {
  width: 30px;
  height: auto;
}

.img-logo {
  width: auto;
  height: 120px;
}

.pink-button {
  background: var(--pink1);
  color: var(--white);
}

.pink-button:hover {
  background-color: var(--pink2);
}

.light-button {
  background: var(--white);
}

.light-button:hover {
  background: var(--lightgrey);
}

.icon-button {
  padding: 15px;
  background: transparent;
}

.pink-button a {
  color: var(--white);
}

.see-more-section {
  display: flex;
  justify-content: center;
}

.see-more {
  color: var(--pink2);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  margin: 20px 0;
  width: fit-content;
}

.search-bar {
  flex: 2;
  margin-left: 10px;
  padding: 15px;
  font-size: 16px;
  max-width: 600px;
  width: auto;
  border-radius: 10px;
  border: 1.5px solid var(--grey);
}

.search-bar:focus {
  outline: none;
  border: 1.5px solid var(--orangepink);
}

.company-name {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 33%;
}

.makeup-card {
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.makeup-review:hover {
  /* background-color: #CC848A; */
  box-shadow: 0px 4px 8px rgba(204, 132, 138, 0.5);
}

.footer-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.footer-links hr {
  width: 8rem;
  height: 0px;
}


/* beberapa elemen yang cuma khusus home gw pindahin ke home.css biar lebih rapi */
/* yg disini buat elemen yg bakal dipake general kek button, input, logo, dll */