:root {
  --white: #fff;
  --grey: #ccc;
  --lightgrey: #f3f3f3;
  --black: #000;
  --lightpink: #FEE9EE;
  --orangepink: #F7C9C8;
  --darkpink: #CC848A;
  --redpink: #FF5959;
  --pink1: #FF707C;
  --pink2: #D1666F;
}


* {
  font-family: 'Poppins', sans-serif;
}


.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* biar responsif*/
/* Menyesuaikan header untuk layar kecil */
@media only screen and (max-width: 600px) {
  header {
    padding: 10px;
  }

  .App-logo {
    height: 30vmin;
  }
}

/* Menyesuaikan margin-top pada slider dan lebar gambar slider untuk layar kecil */
@media only screen and (max-width: 600px) {
  .slider-container {
    margin-top: 20px;
  }

  .slider-image {
    width: 100%;
  }
}

/* Menyesuaikan lebar dan tinggi item kategori untuk layar kecil */
@media only screen and (max-width: 600px) {
  .categories {
    flex-wrap: wrap;
  }

  .category-item {
    width: 70px;
    height: 40px;
    font-size: 12px;
  }
}

/* Menyesuaikan lebar input pencarian dan ukuran font untuk layar kecil */
@media only screen and (max-width: 600px) {
  input[type="text"] {
    flex: 1;
    margin-left: 5px;
    font-size: 14px;
  }
}

header {
  border-bottom: 1px solid #ccc;
  position: fixed; 
  top: 0; left: 0; right: 0; 
  padding: 35px;  
  background: #ffff; 
  display: flex; 
  align-items: center;
  justify-content: space-between;
  height: 50px; 
  z-index: 1;
  box-shadow: 0px 4px 20px var(--lightgrey);
}

button {
  padding: 15px; 
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 10px; /* Menambahkan border-radius untuk membuatnya bulat */
}

a {
  text-decoration: none;
}

.icon {
  width: 30px;
  height: auto;
}

.img-logo {
  width: 150px;
  height: auto;
}

.pink-button {
  background: var(--pink1);
}

.pink-button:hover {
  background-color: var(--pink2);
}

.icon-button {
  padding: 15px;
  background: transparent;
}

.pink-button a {
  color: var(--white);
}

.search-bar {
  flex: 2;
  margin-left: 10px;
  padding: 15px;
  font-size: 16px;
  max-width: 600px;
  width: auto;
  border-radius: 10px;
  border: 1.5px solid var(--grey);
}

.search-bar:focus {
  outline: none;
  border: 1.5px solid var(--orangepink);
}

/* beberapa elemen yang cuma khusus home gw pindahin ke home.css biar lebih rapi */
/* yg disini buat elemen yg bakal dipake general kek button, input, logo, dll */