.detail {
    display: flex;
    flex-direction: column;
}

.product-part {
    display: flex;
    flex-direction: row;
    padding: 35px;
    justify-content: space-between;
}

.product-side {
    width: 45%;
}

.product-img {
    width: 100%;
    height: auto;
}

.review-side {
    width: 45%;
}