 /* Pagination.css */
.pageNumbers {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  .pageNumbers li {
    margin: 0 5px;
    padding: 10px;
    border: 1px solid var(--darkpink);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    color: var(--darkpink);
  }
  
  .pageNumbers li.active {
    background-color: var(--lightpink);
    color: var(--redpink);
    /* display: flex;
    flex-direction: row;
    align-items: center; */
  }
  
  .pageNumbers li button {
    background-color: transparent;
    border: none;
    color: var(--pink2);
    font-size: 1.5rem;
    cursor: pointer;
    display: inline-block;
  }
  
  .pageNumbers .previous-btn:hover, .next-btn:hover {
    background-color: var(--lightpink);
    color: var(--darkpink);
  }
  
  .pageNumbers li button:focus {
    outline: none;
  }
  
  .loadmore {
    margin-top: 20px;
    padding: 1rem;
    background-color: transparent;
    color: var(--pink2);
    font-size: 1.2rem;
    border: 1px solid var(--darkpink);
    cursor: pointer;
    display: inline-block;
  }
  