.review{
    background-color: #e2eeff33;
    display:flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.review .div{
    background-color: #e2eeff33;
    height: 1024px;
    position: relative;
    width: 1440px;
}
.review .overlap{
    background-color: #f3f3f3;
    box-shadow: 0px 2px 1 px #0000001f;
    height: 134px;
    left: 0;
    position: absolute;
    top:0;
    width: 1440px;
}

.review .overlap-group{
    border-radius: 10px;
    height: 38px;
    left: 48px;
    position: absolute;
    top: 0;
    width: 1440px;
}

.review .back{
    height: 22px;
    left: 8px;
    position: absolute;
    top: 8px;
    width: 22px;
}

.review .rectangle{
    border: 3px solid;
    border-color: #fdaabe;
    border-radius: 10px;
    height: 38px;
    left: 0;
    position: absolute;
    top: 0;
    width: 38px;
}

.review .text-wrapper{
    color: #000000;
    font-family: "Lato-Medium", Helvetica;
    font-size: 32px;
    font-weight: 500;
    left: 618px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 46px;
    white-space: nowrap;
    width: 203px;
}

.review .group{
    height: 62px;
    left: 232px;
    position: absolute;
    top: 813px;
    width: 1014px;
}

.review .div-wrapper{
    background-color: #cc848a;
    border-radius: 15px;
    box-shadow: 0px 2px 1px #0000001f;
    height: 62px;
    position: relative;
    width: 1012px;
}

.review .text-wrapper-2 {   
    color: #fafafa;   
    font-family: "Lato-Bold", Helvetica;   
    font-size: 24px;   
    font-weight: 700;   
    left: 69px;   
    letter-spacing: 0;   
    line-height: normal;   
    position: absolute;   
    text-align: center;   
    top: 16px;   
    width: 867px; }  
    
.review .group-2 {   
    height: 222px;   
    left: 722px;   
    position: absolute;   
    top: 487px;   
    width: 524px; }  

.review .rectangle-2 {   
    background-color: #f3f3f3;   
    border: 1px solid;   
    border-color: #ff5959;   
    border-radius: 15px;   
    box-shadow: 0px 2px 1px #0000001f;   
    height: 175px;   
    left: 0;   
    position: absolute;   
    top: 47px;  
    width: 522px; }  

.review .text-wrapper-3 {   
    color: #00000080;   
    font-family: "Lato-Regular", Helvetica;   
    font-size: 18px;   
    font-weight: 400;   
    left: 3px;   
    letter-spacing: 0;   
    line-height: normal;   
    position: absolute;   
    top: 0;   
    white-space: nowrap;   
    width: 118px; }  
    
.review .group-3 {   
    height: 108px;   
    left: 722px;   
    position: absolute;   
    top: 332px;   
    width: 153px; }  
    
.review .rectangle-3 {   
    background-color: #f3f3f3;  
    border: 1px solid;   
    border-color: #ff5959;   
    border-radius: 15px;   
    box-shadow: 0px 2px 1px #0000001f;   
    height: 61px;   
    left: 0;   
    position: absolute;   
    top: 47px;   
    width: 151px; }  
    
.review .text-wrapper-4 {   
    color: #00000080;   
    font-family: "Lato-Regular", Helvetica;   
    font-size: 18px;   
    font-weight: 400;   
    left: 0;   
    letter-spacing: 0;   
    line-height: normal;   
    position: absolute;   
    text-align: center;   
    top: 0;   
    white-space: nowrap;   
    width: 58px; }  
    
.review .p {   
    color: #000000;   
    font-family: "Lato-Bold", Helvetica;   
    font-size: 24px;   
    font-weight: 700;   
    left: 195px;   
    letter-spacing: 0;   
    line-height: normal;   
    position: absolute;   
    text-align: center;   
    top: 214px;   
    width: 468px; }  
    
.review .overlap-2 {   
    background-color: #f3f3f3;   
    border-radius: 10px;   
    box-shadow: 0px 2px 1px #0000001f;   
    height: 377px;   
    left: 232px;   
    position: absolute;   
    top: 332px;   
    width: 370px; }  
    
.review .text-wrapper-5 {   
    color: #d29fa8;   
    font-family: "Lato-Bold", Helvetica;   
    font-size: 18px;   
    font-weight: 700;   
    left: 132px;   
    letter-spacing: 0;   
    line-height: normal;   
    position: absolute;   
    text-align: center;   
    top: 170px;   
    width: 159px; }  
    
.review .vector {   
    height: 289px;   
    left: 55px;   
    position: absolute;   
    top: 44px;   
    width: 262px; }  
    
.review .text-wrapper-6 {   
    color: #000000;   
    font-family: "Lato-Medium", Helvetica;   
    font-size: 30px;   
    font-weight: 500;   
    left: 900px;   
    letter-spacing: 0;   
    line-height: normal;   
    position: absolute;   
    text-align: center;   
    top: 396px;   
    width: 78px; }
